/**
* Arquivo responsavel por esconder o texto dos elementos no projeto
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados a 
*/
/* CSS replacement
	>> https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
________________________________________________________________ */
