@font-face {
	font-family: 'DIN-Regular';
	src: url('dinregular.eot');
	src: url('dinregular.eot?#iefix') format('embedded-opentype'),url('dinregular.svg#dinregular') format('svg'),url('dinregular.ttf') format('truetype'),url('dinregular.woff') format('woff'),url('dinregular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
